html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1; /* faz o conteúdo ocupar o espaço restante */
}

.footer {
    background-color: #191C1F;
    color: white;
    height: 5rem;
}

.footer-logo {
    max-height: 3rem;
    width: auto;
}