@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.titulo {
    font-family: "Public Sans", system-ui;
    font-size: 14px;
    font-weight: bold;
}

.preco {
    font-family: "Public Sans", system-ui;
    font-size: 14px;
    font-weight: bold;
    color: #3E4A52;
}

.produtos {
    margin: 5px;
}

.titulo-produtos {
    font-family: "Public Sans", system-ui;
    font-size: 30px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 1%;
}

.card {
    border: 1px solid #E4E7E9;
    height: 330px;
    object-fit: contain;
    width: 100%;
    margin-bottom: 2%;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.desconto {
    font-family: "Public Sans", system-ui;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E4A52;
    color: #FFFFFF;
    border-radius: 4px;
    height: 26px;
}

.produto-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  padding: 3%;
}