@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

.produto-principal {
  width: 100%;
  height: 400px;
  object-fit: contain; 
  background-color: #f8f8f8;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.coracao-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  cursor: pointer;
}

.img-thumbnail {
  border-radius: 8px;
  transition: transform 0.2s ease, border 0.2s;
}

.img-thumbnail:hover {
  transform: scale(1.05);
  border: 2px solid #007bff;
}

li {
  font-family: "Roboto", sans-serif;
  color: #3E4A52;
}

.card {
  border-color: #dbdbdbbb;
}